{{{navbar}}}

<div class="board__info">
    <h2>{{title}}</h2>
    <p>@<a href="/@{{username}}">{{username}}</a></p>
    <p>{{{content}}}</p>
</div>

<div class="board__content">
    <ul class="desk__grid" id="desk-content">
        {{#each pins}}
            <li class="desk__grid__item">{{{this}}}</li>
        {{/each}}
    </ul>
</div>
