<label class="form__input-label"> <span>{{ label }}</span>
    <input type="{{ type }}" class="{{ customClasses }}" placeholder="{{ placeholder }}"
           value="{{ value }}" id="{{ id }}">
</label>
