<label class="form__input-label">
    <span>{{ label }}</span>
    <textarea rows="{{ rows }}" cols="{{ cols }}" maxlength="{{ maxlength }}"
              class="{{ class }}" placeholder="{{ placeholder }}" id="{{ id }}">{{ value }}</textarea>
</label>
