<li class="list__item {{custom}}">
    <input class="list__item__input {{#if type}}{{else}}hidden{{/if}}" type="{{type}}" value="{{value}}" name="{{for}}">
    <div class="list__item__content">{{{obj}}}</div>
</li>