<div class="dropdown__wrap {{custom}}" id="{{id}}">
    <div class="dropdown__label">
        <span class="dropdown__label__saved">Сохранено на доске</span>
        <span class="dropdown__label__text">...</span>
        <span class="dropdown__label__arrow">{{{arrowIcon}}}</span>
    </div>

    <div class="dropdown__drop">
        <h3>Сохранить на доске</h3>
        {{{list}}}
        <div class="dropdown__drop__create" id="newBoardLink" data-popup="#createForm">
            <span class="dropdown__drop__create__icon">{{{iconAdd}}}</span> Создать новую доску
        </div>
    </div>
</div>
