{{{ navbar }}}

<div class="chat">
   {{{sidebar}}}

    <div class="chat__window content__expand">
        <div></div>

        <ul class="chat__window__messages">
            {{#each messageList}}
                <li class="chat__message__wrap {{#if received}}message__received{{/if}}">{{{this}}}</li>
            {{/each}}
        </ul>

        <div class="chat__window__footer">{{{ msgInput }}} {{{ btnSend }}}</div>
    </div>
</div>