{{{navbar}}}

<div class="chat">
   {{{sidebar}}}

    <div class="chat__window content__expand">
        <div></div>

        {{{messages}}}

        <div class="chat__window__footer hidden" id="chat-footer">
            <div class="chat__window__footer__input">
                {{{smile}}}
                {{{msgInput}}}
            </div>
            <div class="chat__window__footer__actions">
                {{{btnSend}}}
            </div>
        </div>
    </div>
</div>

{{{smiles}}}
