{{{ navbar }}}

<div class="chat">
    {{{ sidebar }}}

    <div class="messages__content">
        <div></div>

        <ul>
            <li class="messages__wrap">{{{ cm }}}</li>
            <li class="messages__wrap">{{{ cm }}}</li>
            <li class="messages__wrap">{{{ cmme }}}</li>
            <li class="messages__wrap">{{{ cm }}}</li>
            <li class="messages__wrap">{{{ cmme }}}</li>
            <li class="messages__wrap">{{{ cm }}}</li>
            <li class="messages__wrap">{{{ cmme }}}</li>
        </ul>

        <div class="messages__content__footer">{{{ msgInput }}} {{{ btnSend }}}</div>
    </div>
</div>