{{{ navbar }}}

<div class="profile-card">
    <div class="profile-card__content">

        <div class="profile-card__user-avatar">
            <a href="/profile/edit" class="profile__btn-edit"><i class="fas fa-pen"></i></a>
            {{{ avatar }}}
        </div>

        <div class="profile-card__user-info">
            <ul>
                <li>{{ name }} {{ surname }}</li>
                <li>@{{ username }}</li>
                <li>{{ description }}</li>
                <li><a href="">{{ followers }} подписчиков</a> • <a href="">{{ following }} подписок</a></li>
                <li>
                    {{{ btnMessage }}}
                    {{{ btnSub }}}
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="profile-desk">
    <a href="/create-pin">Создать пин <i class="fas fa-plus"></i></a>
    <div class="profile-desk__grid">
        {{#each pins}}
            <a href="pin/{{ this.id }}" class="profile-desk__grid__card">
                <img src="{{ this.imgSrc }}" alt="">
            </a>
        {{/each}}
    </div>
</div>
