<div class="dialog" id="{{id}}">
    {{{avatar}}}
    <div class="dialog__content">
        <span class="dialog__content__user">{{username}}</span>
        <span class="dialog__content__text">{{text}}</span>
    </div>
    <div class="dialog__info">
        <span class="message__info__time">{{time}}</span>
        <span class="dialog__info__count">{{unreadNum}}</span>
    </div>
</div>