<button type="{{type}}" class="btn {{customButton}}" id="{{id}}" {{disabled}}
    {{#if activates}}data-activates="{{idToActivate}}"{{/if}}
    {{#if link}}data-link="{{href}}"{{/if}}>{{{text}}}</button>