<div class="pin__popup">
    <div class="pin__popup__card">
        <img class="pin__popup__card__img" src="{{img_link}}" alt="pin">
    </div>

    <div class="pin__popup__info">
        <div class="pin__popup__info__user">
            <a href="/@{{username}}" class="pin__popup__info__user__author">{{{avatar}}}{{username}}</a>
            {{{btnFollow}}}
        </div>

        <h2 class="pin__popup__info__title">{{title}}</h2>
        <span class="pin__popup__info__description">{{content}}</span>
    </div>
</div>


