{{{navbar}}}

<div class="layout__container pin">
    <div class="wrap">
        <div class="wrap__left">
            <img src="{{img_link}}">
        </div>

        <div class="wrap__right">
            {{#if auth}}
                <div class="pin__board">
                    {{{btnBoard}}}
                </div>
            {{/if}}
            <div class="pin__info">
                <h2 class="pin__info__title">{{title}}</h2>
<!--                <a class="pin__info__author" href="/@{{username}}"> {{{authorAvatar}}} {{username}}</a>-->
                <p class="pin__info__description">{{content}}</p>
            </div>

            {{{list}}}
            
            <div class="pin__form">
                {{#if auth}}
                    {{{input}}}
                    {{{btnComment}}}
                {{else}}
                    <div class="wrap__right__title">Чтобы оставлять комментарии к пинам, <a href="/login">Войдите</a>
                        или <a href="/signup">Зарегистрируйтесь</a>.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{{dropdown}}}