{{{ navbar }}}

<div class="wrapper">
    <div class="container">

        <div class="pin__card">
            <!--            <button class="close"><i class="fa fa-times"></i></button>-->

            <section class="pin__card__image"><img src="{{ img_link }}" alt=""></section>
            <section class="pin__info">

                <h2 class="pin__info__title">{{ title }}</h2>
                <span class="pin__info__author">Автор: <a href="">{{ username }}</a></span>

                <p class="pin__info__description">
                    {{ content }}
                </p>

                <div class="pin__info__actions">
                    <span><i class="fa fa-heart"></i> {{ likes }}</span>
                    <span><i class="fa fa-comment"></i> {{ comments }}</span>
                </div>

                <hr>

                {{#if show}}
                    {{{ select }}}
                    {{{ btnAttach }}}
                {{/if}}

                {{#if auth}}
                    <div class="pin__comment__add">
                        {{{ input }}}
                        {{{ btnComment }}}
                    </div>
                {{/if}}

            </section>

        </div>

        {{#if commentListRendered}}
            <div class="pin__comments__list">
                <ul class="pin__comments" id="commentList">
                    {{#each commentListRendered}}
                        <li>{{{ this }}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}

    </div>
</div>