{{{navbar}}}

<!--<div class="wrapper">-->
<!--    <div class="container">-->

<!--        <div class="pin__card">-->
<!--            <section class="pin__card__image"><img src="/img/img3.jpg" alt=""></section>-->

<!--            <section class="pin__info">-->
        <!--                {{#if show}}-->
<!--                    {{{select}}}-->
        <!--                {{/if}}-->

<!--                <h2 class="pin__info__title">{{title}}</h2>-->
<!--                <span class="pin__info__author">Автор: <a href="">{{username}}</a></span>-->

<!--                <p class="pin__info__description">-->
<!--                    {{content}}-->
<!--                </p>-->
<!--            </section>-->

<!--            <section class="pin__comments__wrap">-->
<!--                <ul class="pin__comments" id="commentList">-->
        <!--                    {{#each commentListRendered}}-->
<!--                        <li>{{{ this }}}</li>-->
        <!--                    {{/each}}-->
<!--                </ul>-->
<!--            </section>-->

        <!--            {{#if auth}}-->
<!--                <div class="pin__comment__add">-->
<!--                    {{{ input }}}-->
<!--                    {{{ btnComment }}}-->
<!--                </div>-->
        <!--            {{/if}}-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--                    {{{ btnAttach }}}-->


<div class="layout__container pin">
    <div class="wrap">
        <div class="wrap__left">
            <img src="/img/img11.jpg">
        </div>

        <div class="wrap__right">
            {{#if auth}}
                <div class="pin__board">
                    {{{btnBoard}}}
                </div>
            {{/if}}
            <div class="pin__info">
                <h2 class="pin__info__title">{{title}}</h2>
                <a class="pin__info__author" href="/@{{username}}"> {{{authorAvatar}}} {{username}}</a>
                <p class="pin__info__description">{{content}}</p>
            </div>

            <ul class="pin__comments" id="commentList">
                {{#if commentListRendered}}
                    {{#each commentListRendered}}
                        <li>{{{this}}}</li>
                    {{/each}}
                {{else}}
                    <div class="pin__comments__empty">
                        <p> Еще никто не прокомментировал этот пин </p>
                    </div>
                {{/if}}
            </ul>

            <div class="pin__form">
                {{#if auth}}
                    {{{input}}}
                    {{{btnComment}}}
                {{else}}
                    <div class="wrap__right__title">Чтобы оставлять комментарии к пинам, <a href="/login">Войдите</a>
                        или <a href="/signup">Зарегистрируйтесь</a>.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{{dropdown}}}