{{{navbar}}}

<div class="layout__container pin">
    <div class="wrap">
        <div class="wrap__left load-animation">
            {{{pinImg}}}
        </div>

        <div class="wrap__right">
            <div class="pin__actions">{{{btnAction}}} {{{btnShare}}}</div>

            <div class="pin__info">
                {{{pinTitle}}}
                {{{pinAuthor}}}
                {{{pinDescr}}}
            </div>

            {{{list}}}
            
            <div class="pin__form">
                <div class="wrap__right__title">Чтобы оставлять комментарии к пинам, <a href="/login">Войдите</a>
                    или <a href="/signup">Зарегистрируйтесь</a>.
                </div>
            </div>
        </div>
    </div>
</div>

{{{dropdown}}}

{{{dropAction}}}
{{{dropShare}}}

{{{reportForm}}}
