{{{navbar}}}

<div class="layout__container pin pin_vertical" id="pinWindow">
    <div class="pin__wrap">
        <div class="pin__wrap__left load-animation">
            <div class="pin__wrap__left__img">
                {{{pinImg}}}
            </div>
        </div>

        <div class="pin__wrap__right">
            <div class="pin__actions">{{{btnAction}}} {{{btnShare}}} {{{boardDrop}}}</div>

            <div class="pin__info">
                {{{pinTitle}}}
                {{{pinAuthor}}}
                {{{pinDescr}}}
            </div>

            {{{list}}}

            <div class="pin__form">
                <div class="wrap__right__title">Чтобы оставлять комментарии к пинам, <a href="/login">Войдите</a>
                    или <a href="/signup">Зарегистрируйтесь</a>.
                </div>
            </div>
        </div>
    </div>
</div>

{{{dropAction}}}
{{{dropShare}}}

{{{reportForm}}}
{{{createForm}}}
