<div class="followbar" id="{{id}}">
    <a href="/@{{username}}" class="followbar__user">{{{avatar}}} {{{username}}}</a>
    <span class="followbar__count">Подписчиков: <span class="followbar__count__num">{{followers}}</span></span>
    <span class="followbar__help">Популярные аккаунты</span>
</div>