<div class="sidebar__message">
    {{{ avatar }}}

    <div class="sidebar__message__content">
        <span class="sidebar__message__content__user">{{ username }}</span>
        <span class="sidebar__message__content__text">{{ text }}</span>
    </div>

    <div class="sidebar__message__info">
        <span class="sidebar__message__info__time">{{ time }}</span>
<!--        TODO: {{{ badge }}} -->
        <span class="badge">2</span>
    </div>
</div>